
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


h1 {
    text-align: center;
    color: #333;
}


.form-wrapper {
    margin-bottom: 20px;
}

.form-wrapper input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-wrapper input:focus {
    outline: none;
    border-color: #A67B5B;
}


#submit-btn {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#submit-btn:hover {
    background-color: #001be8;
}


.error {
    color: red;
    font-size: 12px;
    display: none; 
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: white;
    color: black;
}


button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    
}

.btn-edit {
    background-color: #4CAF50;
    color: white;
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-delete {
    background-color: #f44336;
    color: white;
}

.btn-delete:hover {
    background-color: #e53935;
}


#search-input {
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#search-input:focus {
    outline: none;
    border-color: #A67B5B;
}
